body{
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(254, 243, 222);
    background-color: rgb(0, 0, 0);
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

div {
    display: flex;
    width: 55%;
    justify-content:space-around;
    border-radius: 10%;
    margin-top: 30px;
}

img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

button {
    border-radius: 10%;
    background-color: aliceblue;
    outline: none;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
}

button:hover{
    transform: scale(1.1);
    border-color: yellow;
}

#result {
    margin-top: 50px;
}

.reset {
    box-shadow: none;
    margin-top: 30px;
}

footer{
    background-color: gray;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    color: black;
}

#git {
   max-height: 100%;
   max-width:fit-content;
}